#banner {
    height: 370px;
    background: url("../images/banner-plan.png") center center no-repeat;
    text-align: center;
    color: #fff;
}

#banner h3 {
    padding-top: 108px;
    font-size: 48px;
}

#banner p {
    margin: 0 auto;
    width: 1110px;
    font-size: 20px;
    line-height: 1.6;
}

#nav {
    padding-top: 8px;
}

#nav .w {
    background-color: #fff;
    box-shadow: 2px 3px 1px rgba(0, 0, 0, 0.1);
}

#nav ul {
    padding-left: 40px;
}

#nav ul li {
    height: 60px;
    line-height:60px;
}

#nav ul li a {
    font-size: 16px;
    color: #050505;
}

#nav ul li.selector a {
    color: #00a4ff;
    font-weight: bold;
}
#nav li.spacer {
    height: 18px;
    width: 1px;
    background-color: #bfbfbf;
    margin: 22px 20px;
}

/*main 内容主体部分*/
#main {
    padding-top: 10px;
}
#main .w .level {
    background-color: #fff;
    /*height: 380px;*/
    margin-bottom: 10px;
}

#main .level h4 {
    text-align: center;
    color: #ba7ce1;
    font-size: 20px;
    font-weight: bold;
}

#main .level .box-avatar {
    padding-top:78px;

    width: 176px;
    height: 100%;
    background: #fff url("../images/level-avatar01.png") center 130px no-repeat;
    box-sizing: border-box;
}
#main .box-level {
    width: 20px;
    height: 100%;
    padding-top: 42px;
}
.box-level .dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #ba7ce1;
    /*margin-bottom: 20px;*/
}
.box-level li {
    margin: 0 auto;
    position: relative;
    margin-bottom: 20px;
}



.box-level .dot-curr {
    display: block;
    box-sizing: border-box;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 6px solid #ba7ce1;
    background-color: #fff;
}

.box-level .dot-curr::after {
    display: block;
    content: '';
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translate(-50%);
    width: 4px;
    height: 240px;
    background-color: #ba7ce1;
}

.box-level ul li:nth-child(2) {
    height: 260px;
}

#main .box-desc {
    box-sizing: border-box;
    width: 432px;
    height: 100%;
    /*padding-top: 78px;*/
    padding-right: 48px;
    padding-left: 38px;
}

#main .box-desc h4 {
    color: #000;
    font-size: 20px;
    font-weight: normal;
    line-height: 1.4;
    text-align: left;
    margin-bottom: 14px;
    padding-top: 44px;
}

#main .box-desc dl {
    font-size: 14px;
    color: #666;
    margin-bottom: 30px;
    line-height: 1.6;
}

#main .box-list {
    box-sizing: border-box;
    width: 572px;
    height: 354px;
    overflow: hidden;
    padding-top: 44px;
}

#main .box-list ul {
    width: 980px;
}

#main .box-list .scroll {
    position: relative;
    width: 496px;
    height: 12px;
    border-radius: 8px;
    background-color: #eee;
    margin-top: 22px;
}
#main .box-list .scroll .process {
    position: absolute;
    left: 0;
    width: 30px;
    height: 12px;
    background-color: #ebd0fc;

    border-radius: 8px;
}

#main .box-list .scroll .btn-circle {
    position: absolute;
    left: 21px;
    top: 50%;
    transform: translate(0, -50%);
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: #ba7ce1;
    cursor: pointer;
}






