/*版心*/
.w {
    width: 980px;
    margin: 0 auto;
}
/*头部样式*/
.header {
    height: 98px;
}

.header .link {
    height: 93px;
    border-left: 4px solid #fff;
    border-bottom: 4px solid red;
    /*padding-bottom:*/
}

.header .link .tool {
    line-height: 48px;
    font-size: 12px;
}

.header .link .tool span {
    color: #e6212a;
}

.header .link .tool a {
    color: #a6a6a6;
}

.header .link .nav li {
    margin-left: 24px;
    font-size: 14px;
}

.header .link .nav li a {
    color: #444;
}

/*底部样式*/
.footer {

}