* {
    margin: 0;
    padding: 0;
}

ul, li {
    list-style: none;
}

a {
    text-decoration: none;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.d-f {
    display: flex;
}

.clearfix:after {
    content: '.';
    display: block;
    clear: both;
    height: 0;
    visibility: hidden;
}
.clearfix {
    *zoom: 1;
}

/* 头部版心 */
.w1 {
    width: 1056px;
    margin: 0 auto;
}

/*通用色*/
.col-blue {
    color: #00a0e9;
}

