#header {
    line-height: 70px;
}
#header .logo {
    width: 244px;

}

#header .logo a {
    display: block;
    width: 244px;
    height: 70px;
    background: url("../images/logo.png") left center no-repeat;
}

#header .nav li {

    margin-right: 36px;
}

#header .tel {
    width: 100px;
}

#header .download {
    box-sizing: border-box;
    width: 244px;
    padding: 0 20px;

}

#header .download a {
    /*box-sizing: border-box;*/
    /*display: inline-block;*/
    border: 1px solid #00a0e9;;
    /*width: 96px;*/
    /*height: 30px;*/
    padding: 9px 20px;
    text-align: center;
    font-size: 12px;
    border-radius: 6px;
}

/*---------------banner部分------------*/
#banner {
    font-weight: normal;
    text-align: center;
}

#banner .tenyears {
    height: 160px;
    background: url("../images/10years.png") 62px 0 no-repeat;
}
#banner .t-1 {
    font-weight: normal;
    font-size: 56px;
    height: 96px;
}
#banner .t-2 {
    font-weight: normal;
    font-size: 32px;
    height: 142px;
}

#banner .stats {

    height: 495px;
    background-image: url("../images/bg1.png"), url("../images/bg2.png"), url("../images/bg3.png");
    background-position: left 200px, left 200px, left 100px;
    background-repeat: repeat-x;
}

#banner .stats ul {
    position: relative;
}
#banner .stats ul li {
    position: absolute;
    top: 480px;
}

#banner .stats ul li:after {
    position: absolute;
    top: -30px;
    right: 0;
    content: "";
    display: block;
    width: 30px;
    height: 30px;
    background: url("../images/circle.png") center center no-repeat;
}

#banner .stats ul li:nth-child(1) {
    left:0;
}
#banner .stats ul li:nth-child(2) {
    left:40px;
}
#banner .stats ul li:nth-child(3) {
    left:80px;
}
#banner .stats ul li:nth-child(4) {
    left:120px;
}
#banner .stats ul li:nth-child(5) {
    left:160px;
}
#banner .stats ul li:nth-child(6) {
    left:200px;
}
#banner .stats ul li:nth-child(7) {
    left:230px;
}
#banner .stats ul li:nth-child(8) {
    left:280px;
}
#banner .stats ul li:nth-child(9) {
    left:320px;
}
#banner .stats ul li:nth-child(10) {
    left:360px;
}
#banner .stats ul li:nth-child(11) {
    left:550px;
}

#product {
    height: 836px;
    background-color: #e3ecf2;
    padding-top: 98px;
    text-align: center;
}
#product h3 {
    font-size: 48px;
    font-weight: normal;
    height: 110px;
}

#product p {
    line-height: 1.6;
    height: 148px;
}

#product ul {
    justify-content: space-between;
}

#product ul li {
    width: 194px;
    height: 325px;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, .3);
}

/*---------产业链------------*/
#industry {
    text-align: center;
    padding-top: 116px;
    height: 1010px;
    /*position: relative;*/
}

#industry h3 {
    font-size: 48px;
    height: 112px;
}

#industry p {
    height: 120px;
    font-size: 24px;
}

#industry ul li {
    width: 250px;
    height: 267px;
    background: url("../images/form6.png") 0 0 no-repeat;
    -webkit-background-size: 214px;
    background-size: 214px;
    margin-right: 18px;
}
#industry ul.middle {
    position: absolute;
    left: 135px;
    top: 120px;
}

#industry ul.bottom {
    position: absolute;
    left: 0;
    top: 250px;
}

#industry .form6-container {
    position: relative;
}

/*匠心*/
#cooperate {
    height: 892px;
    background-color: #94bade;
    color: #fff;
    text-align: center;
    padding-top: 124px;
}

#cooperate h3 {
    font-size: 48px;
    height: 112px;
}

#cooperate p {
    height: 120px;
    font-size: 24px;
}

#cooperate ul li {
    width: 148px;
    height: 148px;
    background: url("../images/co-icon.png") center center no-repeat;
    background-size: 148px;
}

#cooperate ul {
    flex-wrap: wrap;
    justify-content: space-between;
}